@import 'normalize.css';


h1 {
    text-align: center;
}

main {
    display: flex;

}

section {
    flex-grow: 1;
    padding: 20px;
}

.inserta-mensajes {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-bottom: 10px;
}